<template>
    <div class="pa-8">
        <!-- 顶部 -->
        <div class="mb-16" style="width: 100%; height: 100px;">
            <div v-if="user != null" class="">
                <!-- 输入框 -->
                <h3 style="display: inline-block">{{user.username}}，你好~</h3>
                    <v-btn color="blue-grey" 
                        class="mx-4 white--text" fab 
                        x-small
                        @click="logout">
                        <v-icon dark>
                            mdi-exit-to-app
                        </v-icon>
                    </v-btn>
                <div class="d-flex align-start my-8">
                    <v-text-field :rules="rules.wish" prepend-inner-icon="mdi-email-outline" class="mx-2" label="往后二十年，你希望 Methodot 变成什么样子呢~" hide-detials="auto" v-model="comment"></v-text-field>
                    <v-btn large class="mx-8 block" @click="post_comment" :disabled="user===null" color="primary">
                        提交
                        <v-icon right dark>mdi-send</v-icon>
                        </v-btn>
                </div>
            </div>
            <div v-else class="d-flex flex-column">
                <!-- 登录 -->
                <h3>留言请先登录：</h3>
                <div class="login-panel d-flex flex-wrap align-center justify-start">
                    <v-text-field prepend-icon="mdi-account-outline" :rules="rules.username" class="mx-2" label="用户名" hide-detials="auto" style="min-width: 400px" v-model="username"></v-text-field>
                    <v-text-field prepend-icon="mdi-lock-outline" :rules="rules.password" class="mx-2" label="密码"  hide-detials="auto" style="min-width: 400px" v-model="password"></v-text-field>
                    <v-btn large class="mx-8" @click="login" color="primary">
                        登录/注册
                        <v-icon right dark > mdi-exit-to-app </v-icon>
                    </v-btn>
                </div>
            </div>
            
        </div>
        <v-divider></v-divider>
        <!-- 内容 -->
        <v-timeline :dense="$vuetify.breakpoint.smAndDown" reverse class="my-8">
            <v-timeline-item v-for="wish in wishs" :key="wish.id" color="primary" icon="mdi-calendar-outline" fill-dot>
                <span slot="opposite"> 
                    <div class="body-2" style="color: rgba(0,0,0,0.6)"> {{ wish.create_time }} </div>
                    </span>
                <v-card class="rounded-lg pa-2" elevation="1">
                    <v-card-title class="mb-2">{{wish.content}}</v-card-title>
                    <v-card-subtitle> {{ wish.username }} 的留言 </v-card-subtitle>
                    <div v-if="wish.user_id === wish.current_user_id" class="d-flex flex-row-reverse align-center justify-space-between mx-2">
                    <v-btn icon class="ma-4" @click="delete_comment(wish.id)" color="#EF5350" dark> 
                        <v-icon> mdi-delete </v-icon>
                    </v-btn>
                    <v-chip v-if="wish.status === 'pending'" color="#FF6F00" text-color="white">待审核</v-chip>
                    </div>
                </v-card>
            </v-timeline-item>
        </v-timeline>
    </div>
</template>

<script>
let axios = require("axios");
let moment = require("moment");

export default {
    name: "Wall",
    data: () => ({ 
        wishs: [],
        comment: "",
        username: "",
        password: "",
        user: null,
        rules: {
            "username": [
                value => !!value || '必填',
            ],
            password: [
                value => !!value || '必填',
                value => (value && value.length >= 6) || '至少 6 个字符',
            ],
            "wish": [
                value => !!value || '留言不得为空',
                value => (value && value.length >= 1) || '留言不得为空',
            ]
        },
    }),

    methods: {
        get_comments: function () {
            let user = this.user;
            axios
                .get("/api/comment/",   user === null ? {} : {
                    params: {"username": user["username"]},
                    headers: { "access-token": user["token"] } 
                    })
                .then( resp => { 
                    this.wishs = resp.data
                    var user = this.user
                    this.wishs.forEach( element => {  element.current_user_id = user === null ? "" : user.user_id  });
                    this.wishs.forEach( element => {  element.create_time = moment(element.create_time).format("YYYY年MM月DD日 HH:mm") });
                    } );
        },

        login: function(){
            axios
                .post("/api/user/login", {
                    username: this.username,
                    password: this.password
                })
                .then( (resp) => {
                    this.user = resp.data; 
                    localStorage.setItem("user", JSON.stringify(this.user));
                    this.$cookie
                    this.get_comments()
                    } );
        },

        logout: function(){
            this.user = null;
            localStorage.removeItem("user");
            this.get_comments();
        },
        check_login: function(){
            this.user = JSON.parse(localStorage.getItem("user"));
        },

        post_comment: function () {
            if (this.comment == null || this.comment === "") {
                alert("留言不得为空");
            }else{
                axios
                    .post("/api/comment/", 
                        { user_id: this.user.user_id, content: this.comment, username: this.user.username},
                        { headers: { "access-token": this.user.token } })
                    .then(() => this.get_comments());
            }
        },
        delete_comment: function(comment_id) {
            axios.delete("/api/comment/" + comment_id, 
                { headers: { "access-token": this.user.token } })
            .then(() => this.get_comments());
        }
    },
    mounted: function () {
        this.check_login();
        this.get_comments();
    },
};
</script>

<style>

.card {
    flex-grow: 0;
    flex-shrink: auto;
    min-width: 300px;
    max-width: 340px;
    border-radius: 8px;
}

</style>