<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink ml-2 mr-2"
          src="./assets/logo.png"
          transition="scale-transition"
          width="28"
        />
        <h3 class="shrink app-title ml-4 hidden-sm-and-down"> Methodot 用户留言簿</h3>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://methodot.com"
        target="_blank"
        text
      >
        <span class="mr-2">访问官网</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main style="background: #FAFAFA">
        <wall style="max-width:1440px; margin: 32px auto;"></wall>
        
    </v-main>
  </v-app>
</template>

<script>
import Wall from './components/Wall.vue';

export default {
  name: 'App',

  components: {
    Wall
  },

  data: () => ({
    //
  }),
};
</script>


<style scoped>
v-app {
    background: #fa0000;
}
</style>